h1 {
    margin-top: 30px;
}
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header .logo-container {
    display: flex;
    align-items: center;
}
header img {
    width: 250px;
    height: 250px;
    margin: 0 10px;
}
nav {
    margin-top: 20px;
}


p{
    text-align: center;
    font-size: 200%;
    font-family: 'Casino Flat Shadow', sans-serif;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
  }
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Casino 3D', sans-serif;
    font-size: 200%;
  }
  nav ul li a:hover {
    color: #ffd700;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: auto; 
    overflow-x:hidden; 

}
/* RUletka */
#spin-container {
    width: 600px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}
#arrow {
    width:180px; 
    height: 180px; 
}
/* responsywnos*/
@media only screen and (max-width: 768px) {
    nav ul li {
        display: block; 
        margin-bottom: 10px;
    }
    nav ul li a {
        font-size: 150%; 
    }
    header img {
        width: 200px;
        height: 200px;
    }
    .game-images {
        flex-direction: column;
        align-items: center;
      }
      .game-images img {
        width: auto;
        height: 100px;
        margin: 10px 0;
      }
      #spin-container {
        width: 400px;
        height: 400px;
      }
      #arrow {
        width: 120px; 
        height: 120px; 
    }
    
}
@media only screen and (max-width:1920px) {
    header img {
        width: 300px;
        height: 300px;
    }
    
}
@media only screen and (max-width:1000px) {
    header img {
        width: 250px;
        height: 250px;
    }
}
@media only screen and (max-width:600px) {
    header img {
        width: 180px;
        height: 180px;
    }
}
@media only screen and (max-width: 480px) {
    header img {
        width: 140px;
        height: 140px;
        margin: 0 5px;
    }
    
}
  .rotate {
    animation: spin 4s linear infinite; 
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
    
  }
  .rotate2 {
    animation: spin2 4s linear infinite; 
  }
  
  @keyframes spin2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}

